;;
description = "Meta Partial"
==
{##}
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

<meta name="description" content="{{ this.page.meta_description }}">
<meta name="title" content="{{ this.page.meta_title }}">
  
<meta name="author" content="themefisher.com">

<title>{{ this.page.title }} :: Html5 Agency template</title>

<link rel="icon" type="image/png" href="{{ 'assets/images/october.png'|theme }}">

<link href="{{ [
  'assets/plugins/bootstrap/css/bootstrap.min.css',
  'assets/plugins/themify/css/themify-icons.css',
  'assets/plugins/fontawesome/css/all.css',
  'assets/plugins/magnific-popup/dist/magnific-popup.css',
  'assets/plugins/slick-carousel/slick/slick.css',
  'assets/plugins/slick-carousel/slick/slick-theme.css',
  'assets/css/style.css'
]|theme }}" rel="stylesheet">